.list-container {
    background-color: rgb(248, 248, 248);
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: auto;
    max-width: 200px;
    width: 200px;
    height: 100%;
}

.list-body {
    background: transparent;
    margin: auto;
    width: inherit;
    height: 85%;
    overflow-y: auto;
}
