@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

li {
    list-style-type: none;
}


.list-item {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.list-item button {
    background-color: transparent;
    border: none;
}

.list-item button:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

.list-item button:active {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
}

.list-btn {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    height: 30px;
}

.list-btn:active {
    background-color: rgb(228, 228, 228);
}

.selectedBtn {
    background-color: rgb(211, 211, 211) !important;
    border-radius: 20px;
    font-weight: 800;
}