.search-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    max-width: 250px;
    background: transparent;
    height: 50px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search-bar {
    display: inherit;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid transparent;
    border-color: rgb(221, 221, 221);
    border-radius: 24px;
    width: 100%;
    max-width: 250px;
    height: 40px;
    margin: auto;
    padding: 0 20px;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.search-input {
    display: inherit;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: inherit;
    margin: inherit;
    outline: none;
    height: 25px;
    width: 95%;
    padding: 0 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Bungee', cursive;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}