@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,800&family=Roboto&display=swap');
*::-webkit-scrollbar {
    width: 12px;
  }
  
*::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
}

body {
    background-color: rgb(250, 250, 250);
    margin:0;
    padding:0;
}

.container {

}

.header {
    display: flex;
    height: 75px;
    border-bottom: .5px solid rgb(219, 219, 219);
    margin-bottom: 50px;
}

.first {
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
}

.second {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
}

.header-corner {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 60px;
}

.content-container {
    display: flex;
    flex: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: 800;
    margin: 5px;
}

.image {
    width: 50px;
    margin-left: 20px;
}

@media (max-width: 100px){
    .image {
        width: 100%;
    }
}