.nav-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-self: center;
}

.git-btn {
    display: flex;
    justify-content: center;
    outline: none;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 40px;
    align-self: center;
    align-items: center;
    margin: 0 25px;
}

.git-btn:hover {
    background-color: rgb(214, 214, 214);
    border-radius: 50px;
    cursor: pointer;
}

.git-btn:active {
    background-color: rgb(201, 201, 201);
    border-radius: 50px;
    cursor: pointer;
}